<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main_page.css">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="shortcut icon" href="/resources/warning.png" type="image/x-icon">
    <title>Main_Page</title>
</head>
<body>
    <% if(user.isAdmin) {%>
        <%- include('blocks/admin') -%>
    <% } else { %>
        <%- include('blocks/header') -%>
    <% } %>
    <marquee direction="left" scrollAmount="10">Есть деньги - покупай! Нужны деньги - продавай!</marquee>
    <div class="slideshow">
        <img src="/resources/slideShow1.jpg">
        <img src="/resources/slideShow2.jpg">
        <img src="/resources/slideShow3.jpg">
    </div>
    <marquee direction="right" scrollAmount="10">Есть деньги - покупай! Нужны деньги - продавай!</marquee>
    <%- include('blocks/footer') -%>
    <script src="/script/main_page.js"></script>
</body>
</html>