<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registration.css">
    <title>Регистрация</title>
</head>
<body>
    <h1>Введите данные для регистрации</h1>
  <div id="wrapper">
    <form id="signin" method="post" action="/registration" autocomplete="off">
        <% if (errorLog !== '') { %>
            <input type="text" id="user" class="errorInput" name="user" placeholder="<%= errorLog %>" />
          <% } else { %>
            <input type="text" id="user" name="user" placeholder="login" />
          <% } %>
        <input type="password" id="password" name="password" placeholder="password" />
        <input type="text" id="phone_number" name="phone_number" placeholder="phone_number" />
        <input type="text" id="full_name" name="full_name" placeholder="FIO" />
      <button type="submit">&#xf0da;</button>
    </form>
    <button class="little_button1 info" data-tooltip="* Логин - от 3 до 16 симловов, первые три обязательно латинские буквы!"><img src="/resources/info.png" alt="info"></button> 
    <button class="little_button2 info" data-tooltip="* Пароль должен содержать как минимум одну заглавную букву, одну строчную букву, одну цифру и быть длиной не менее 8 символов."><img src="/resources/info.png" alt="info"></button> 
    <button class="little_button3 info" data-tooltip="* Пример ввода номера телефона +375333305320"><img src="/resources/info.png" alt="info"></button> 
    <button class="little_button4 info" data-tooltip="* ФИО должно содержать только буквы кириллицы и состоять из трех слов"><img src="/resources/info.png" alt="info"></button> 
    <% if ( errorInput !== '') { %>
      <div class="error">
        <p><%= errorInput %></p>
      </div>
    <% } %>
</body>
</html>