<header>
    <nav class="header_nav">
      <ul class="header_ul">
        <li class="header_li"><a href="/main_page" class="logo">CarSale</a></li>
        <li class="header_li"><a href="/main_page" class="active">Главная</a></li>
        <li class="header_li"><a href="/catalog" class="active">Каталог</a></li>
        <li class="header_li"><a href="/administration" class="btn ad"><span class = "Boldd">+</span> Администрирование </a></li>
        <li class="header_li"><a href="/login" class="btn profile">Выйти</a></li>
      </ul>
    </nav>
</header>